<%= form_with model: [@resume, @project], data: { controller: "nested-form", nested_form_wrapper_selector_value: ".nested-form-wrapper" } do |f| %>
  <%= f.hidden_field :resume_id, value: @resume.id %>
  <template data-nested-form-target="template">
    <%= f.fields_for :project_line_items, ProjectLineItem.new, child_index: 'NEW_RECORD' do |pli_fields| %>
      <%= render 'pli_form', f: pli_fields %>
    <% end %>
  </template>

  <%= f.fields_for :project_line_items do |pli_fields| %>
      <%= render 'pli_form', f: pli_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>
  <br>
  <button type="button" data-action="nested-form#add" class="bg-blue-400 text-white rounded text-center p-2">Add project</button>
  <br>
  <div class="my-4">
  <%= f.submit class: "bg-blue-400 text-white rounded text-center p-2" %>
  </div>
<% end %>
