<div class="max-w-5xl mx-auto p-4">
  <%= render partial: "layouts/nav" %>
  <div class="my-4 bg-white print:bg-none shadow p-4 rounded font-sans print:my-0 print:shadow-none print:rounded-none print:p-0 print:px-2">
    <%= render partial: "resumes/authors/author_section" %>
    <%= render partial: "resumes/projects/project_section" %>
    <%= render partial: "resumes/skills/skill_section" %>
    <%= render partial: "resumes/experiences/experience_section" %>
    <%= render partial: "resumes/educations/education_section" %>
  </div>
</div>
<div class="fixed bottom-10 right-12">
  <%= button_tag "⤴️", class: "text-white rounded-full h-16 w-16 shadow p-4 text-center bg-blue-500 hover:bg-blue-400 active:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 print:hidden", data: { controller: "to-top", action: "click->to-top#bringToTop" } %>
</div>
