<div class="max-w-5xl mx-auto p-4 print:hidden ">
  <nav class="flex justify-between items-center bg-white rounded p-2">
    <div>
      <% unless current_page?(resume_path(@resume)) %>
        <%= link_to "view resume", resume_path(@resume), class: "underline" %>
      <% end %>
      <% if @resume.author.present? %>
        <%= link_to "edit author", edit_resume_author_path(@resume, @resume.author), class: "underline" %>
      <% else %>
        <%= link_to "author", new_resume_author_path(@resume), class: "underline" %>
      <% end %>
      <% if @resume.project.present? %>
        <%= link_to "edit projects", edit_resume_project_path(@resume, @resume.project), class: "underline" %>
      <% else %>
        <%= link_to "projects", new_resume_project_path(@resume), class: "underline" %>
      <% end %>
      <% if @resume.skill.present? %>
        <%= link_to "edit skills", edit_resume_skill_path(@resume, @resume.skill), class: "underline" %>
      <% else %>
        <%= link_to "skills", new_resume_skill_path(@resume), class: "underline" %>
      <% end %>
      <% if @resume.experience.present? %>
        <%= link_to "edit experiences", edit_resume_experience_path(@resume, @resume.experience), class: "underline" %>
      <% else %>
        <%= link_to "experiences", new_resume_experience_path(@resume), class: "underline" %>
      <% end %>
      <% if @resume.education.present? %>
        <%= link_to "edit educations", edit_resume_education_path(@resume, @resume.education), class: "underline" %>
      <% else %>
        <%= link_to "educations", new_resume_education_path(@resume), class: "underline" %>
      <% end %>
    </div>
    <div>
      <%= link_to "your resumes", resumes_path, class: "underline" %>
    </div>
  </nav>
</div>
